/* Defaults */
/*body {padding-top:50px;}*/

/* prettyprint */

/* Layouts */

.section {margin-bottom:40px;}
.goto {margin-bottom:20px;}
.goto .label {font-size:14px; color:#fff; font-weight:normal;}

